# Mac File
.DS_Store

# Java binaries
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# output path
out/*

# eclipse #
.project
.classpath

# properties file (avoid uploading sensitive data) #
telegram.properties*
